main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 2rem;
}

.bio{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: center;
    padding: 2em;
}

.profile-pic{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.profile-pic img{
    width: 100%;
    height: auto;
    max-height: 100%;
} 

.hobbies {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 2em;
}

.playlists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.quote {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 2em;
}

/* Media Queries for MOBILE */
@media (max-width: 950px) {
    main{
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .bio { 
        grid-column: 1 / 2; 
        grid-row: 1 / 2; 
    }
    .profile-pic { 
        grid-column: 1 / 2; 
        grid-row: 2 / 3; 
    }
    .hobbies {
        grid-column: 1 / 2; 
        grid-row: 3 / 4; 
    }
    .playlists {
        grid-template-columns: 1fr; 
    }
    .quote {
        grid-column: 1 / 2; 
        grid-row: 4 / 5; 
    }
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}