:root {
    --main-bg-color: #FFF0F5;
    --accent-color: #FBAED2;
    --main-font: "Cormorant Garamond", "Times New Roman", Times, serif;
}

/* CSS Flexbox for nav bar*/
.navbar {
    /* position: fixed; */
    display: flex;
    align-items: center;
    background-color: #FFF0F5;
    justify-content: space-around;
    padding: 0.5em, 1em;
    font-size: 1.2em;
}

.logo {
    max-width: 3em;
    margin-right: 1rem;
}

.navbar h1 {
    margin-right: auto;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 1rem; 
    justify-content: center;
    padding-right: 2em;
}

.nav-menu li a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #333;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-menu li a:hover {
    background-color: #FBAED2;
    transform: scale(1.05);
}

.menu-icon{
    display: none;
    cursor: pointer;
    width: 1.5em;
    height: 1em;
    position: relative;
    padding-right: 2em;
}

#menu-toggle{
    display: none;
}

.menu-icon span {
    display: block;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
}

body{
    background-color: #FFF0F5;
    background-color: var(--main-bg-color, #FFF0F5);
    font-family: var(--main-font, Times, serif);

    main{
        padding: 2rem;
        
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
            font-size: 2em;
        }
        .message{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 2rem;
        }
    }
}

.links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
   
    justify-content: center;
    align-items: center;

    img{
        max-width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* Media Queries for MOBILE */
@media (max-width: 950px) {
    .menu-icon{
        display: block;
    }

    .nav-menu{
        display: none;
        position: absolute;
        background-color: #FBAED2;
        top: 3.5em;
        right: 2em;
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 1em
    }

    .nav-menu li{
        margin: 0.5em 0;
    }
    .nav-menu li a:hover{
        margin: 0.5em 0;
        color:#FFF0F5;
    }

    #menu-toggle:checked ~ .nav-menu {
     display: flex; 
    }
    
    #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    main{
        flex-direction: column;
    }

    .links{
        grid-template-columns: 1fr;
    }
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}