.intro-section {
    display: flex;
    flex-direction: row;
    height: 65vh;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    font-size: 1.5em;
}

/* CSS for typewriter animation on the left section of the home screen */
.typewriter-animation {
    /* Ensures text does not wrap to the next line */
    white-space: nowrap;
    /* Hides any overflowed text */
    overflow: hidden;
    /* Set intial width to 0% */
    width: 0;

    font-family: var(--font-family);
    font-size: clamp(1rem, 10vw, 6rem);
    border-right: 3px solid var(--text-color);

    animation: 
        typing 4s steps(20, end) infinite,
        blink 1s infinite;
}

@keyframes typing {
    0% {width: 0;} 
    /* Completely writes out the text */
    40% {width: 11.5ch;}
    /* Pauses with blinking cursor */
    60% {width: 11.5ch;}
    /* Completely erases the text */
    100% {width: 0;}
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--text-color);
    }
    100%{
        border-color: transparent;
    }
}

.board-intro{
    text-align: center;
    font-size: 1.5em;
    margin: 2.5rem 0;
}
/* Styling for board pictures */
.board-section{
    padding: 2rem 1.5rem;
}
.board{
    margin: 0 auto;
    max-width: 1400px;
}
.card{
    /* Lets masonry layout determine the width */
    width: 250px; 
    margin-bottom: 16px;

    border-radius: 16px;
    overflow: hidden;

    opacity: 0;
    transition: opacity 0.3s ease;
}
.card img{
    width: 100%;
    display: block;
    border-radius: 16px;
}
.card.show{
    opacity: 1;
}

/* Media Queries for MOBILE */
@media (max-width: 950px) {
    .intro-section{
        flex-direction: column;
    }

    .left {
        flex: 0 0 auto;
        width: auto;
        padding: 1em;
    }

    .right {
        flex: 0 0 auto;
        padding: 2em;
    }
}

@media (max-height: 600px) {
    .intro-section{
        height: auto;
    }
    
}
