main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    font-size: 1.5em;
}

.typewriter {
    width: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid var(--text-color);

    animation:
        typing 3s steps(10) infinite forwards,
        blink 0.7s infinite;


    font-size: clamp(3rem, 10vw, 6rem);
    letter-spacing: 2px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 10ch;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--text-color);
    }
    100%{
        border-color: transparent;
    }
}

/* Media Queries for MOBILE */
@media (max-width: 950px) {
    main{
        flex-direction: column;
    }

    .left {
        flex: 0 0 auto;
        width: auto;
        padding: 1em;
    }

    .right {
        flex: 0 0 auto;
        padding: 2em;
    }
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
