main{
    padding: 2rem;
}

main > section {
    h2{
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 1.5rem;
        color: var(--text-color);
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .button-container button {
        padding: 0.5em 1em;
        font-size: 1em;
        border: none;
        border-radius: 8px;
        background-color: var(--accent-color);
        cursor: pointer;
        font-family: var(--main-font, Times, serif);
        transition: background-color 0.3s, transform 0.3s ease;
    }
    
    .button-container button:hover {
        background-color: white;
        transform: scale(1.05);
    }

    #projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1rem;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }

    ul {
        list-style: none; 
        padding: 2em;
        margin: 1em;
        
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
    }

    li {
        background-color: #fff; 
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden; 
        padding: 1em;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        
        transition: transform 0.3s ease;
    }

    li:hover {
        transform: translateY(-3px);
    }

    .img-wrapper{
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 10px;
    }

    .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    h3 {
        font-weight: 600;
        font-size: 2em;
        margin-top: 0.5rem;
        color: #555;
    }
    
    .project-details{
        margin-top: 1em;
        padding: 0.5em;

        h3{
            font-size: 1.5em;
            font-weight: bold;
            cursor: pointer;
        }
        p {
            margin: 0.5em 0 0;
            line-height: 1.4;
        }
    }
    
}

/* Media Queries for MOBILE */
@media (max-width: 950px) {
    main{
        flex-direction: column;
    }

    main > section{
        h2{
            font-size: 2em;
        }

        ul{
            grid-template-columns: 1fr;
            padding: 1em;
        }

        h3{
            font-size: 1.5em;
        }

        .project-details h3{
            font-size: 1.2em;
        }
    }
}