:root {
    --main-bg-color: #FFF0F5;
    --accent-color: #FBAED2;
    --text-color: black;
    --main-font: "Cormorant Garamond", "Times New Roman", Times, serif;
}

/* DARK MODE: HW4 */
[data-theme="dark"]{
    --main-bg-color: #142213;
    --accent-color: #5C6F5C;
    --text-color: white;
}

/* Dark/Light Mode Toggle Button */
.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 1.6rem;
    position: relative;
    cursor: pointer;
}

.theme-toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    /* cursor: pointer; */
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 50px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.2rem;
}

.slider:before {
    content: "";
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    left: 0.2rem;
    bottom: 0.1rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-icon {
    position: absolute;
    left: 0.35rem;
    font-size: 1rem;  
    transition: transform 0.3s;
}

.js-theme-toggle {
    display: none;
}

  
input:checked + .slider {
    background-color: var(--accent-color);
    justify-content: flex-end;
}

input:checked + .slider:before {
    transform: translateX(1.4rem);
}

input:checked + .slider .toggle-icon {
    transform: translateX(1.4rem) rotate(360deg);
    content: "🌞"; 
}

/* CSS Flexbox for nav bar*/
.navbar {
    /* position: fixed; */
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    padding: 0.8em, 1.5em;
    font-size: 1.2em;
}

.navbar .theme-toggle {
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Space between toggle and menu */
}

.logo {
    max-width: 3em;
    margin-right: 1rem;
}

.navbar h1 {
    margin-right: auto;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 1rem; 
    justify-content: center;
    padding-right: 2em;
}

.nav-menu li a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: var(--text-color);
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s ease;
}

.nav-menu li a:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding-right: 2em;
}

#menu-toggle{
    display: none;
}

.menu-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: background-color 0.3s, transform;
}

body{
    background-color: #FFF0F5;
    background-color: var(--main-bg-color, #FFF0F5);
    font-family: var(--main-font, Times, serif);
    color: var(--text-color);
}

/* Media Queries for Adjusted Screen Dimensions */
@media (max-width: 1000px) {
    .menu-icon{
        display: block;
    }

    .theme-toggle{
        margin-right: 1rem;
    }

    .nav-menu{
        display: none;
        position: absolute;
        background-color: var(--accent-color);
        top: 3.5em;
        right: 2em;
        flex-direction: column;
        border: 1px solid var(--text-color);
        padding: 1em
    }

    .nav-menu li{
        margin: 0.5em 0;
    }
    .nav-menu li a:hover{
        margin: 0.5em 0;
        color: var(--main-bg-color);
    }

    #menu-toggle:checked ~ .nav-menu {
     display: flex; 
    }
    
    #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}